.conf-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%; }
  .conf-content h5 {
    font-size: 0.85em;
    margin-left: 10px; }
  .conf-content .conf-button-controls {
    display: flex;
    flex-direction: row;
    margin-left: auto; }
    .conf-content .conf-button-controls button {
      border: none;
      background: #e4e4e4;
      border-radius: 2px;
      padding: 5px 8px;
      margin: 2px 4px;
      min-width: 50px;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase; }
  .conf-content.conf-task {
    background: #4682B4;
    color: #fff; }
  .conf-content.conf-delete {
    background: #C21807;
    color: #fff; }
  .conf-content.conf-restore {
    background: #4682B4;
    color: #fff; }
