
.ui-list-wrapper {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 10px 0;
  box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.3);
}

.ui-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 10px 20px;
  height: 100%;
  overflow-y: hidden;
  background: transparent;
  border-radius: 4px;
  height: 550px;
  overflow-y: auto;

  cursor: pointer;
  .ui-list-item {
    width: 100%;
    height: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 2px 0;
    cursor: pointer;
    font-size: 1em;

    i {
      display: block;
      width: 14px;
      height: 14px;
      margin-left: 10px;
      &::after {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        border: 2px solid #fff;
        border-radius: 50%;
      }
      &.complete {  
        background: url(../assets/circle-green.svg);
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
      &.open {
        background: url(../assets/circle-amber.svg);
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
    }

    &.selected {
      button {
        color: #fff;
        font-size: 1em;
      }
      i {
        &.complete {
          // background: url(../assets/check-white.svg);
          // background-size: contain;
          // background-position: 50% 50%;
          // background-repeat: no-repeat;
        }
        &.open {
          // background: url(../assets/exclamation-white.svg);
          // background-size: contain;
          // background-position: 50% 50%;
          // background-repeat: no-repeat;
        }
      }
    }
    &:nth-child(odd) {
      // background: rgba(103, 146, 103, 0.3);
      // border-radius: 1px;
    }
    &:nth-child(even) {
      // background: rgba(103, 146, 103, 0.2);
      // border-radius: 1px;
    }
    &:nth-child(odd) {
      &:hover {
        // border: 1px solid rgba(103, 146, 103, 0.5);
      }
    }
    &:nth-child(even) {
      &:hover {
        // border: 1px solid rgba(103, 146, 103, 0.5);
      }
    }
    button {
      background: none;
      border: none;
      width: 100%;
      height: 100%;
      cursor: pointer;
      outline: none;
      font-family: 'Open Sans';
      font-size: 0.9em;
    }
  }
}