.list-with-controls {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  height: 45px;
  &.animation-enabled {
    .list-item-wrapper {
      &.reduce-size {
        animation-name: reduce-size;
        left: -80px;
      }
      &.original-size {
        animation-name: original-size;
        left: 0;
      }
    }
    .list-controls-wrapper {
      &.show {
        animation-name: show;
        right: 0;
      }
      &.hide {
        animation-name: hide;
        right: -80px;
      }
    }
  }
  .list-controls {
    width: 100%;
    height: 99%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 2px 4px;
    z-index: 1;
    box-shadow: inset 4px 0px 8px 0px rgba(0, 0, 0, 0.3);
  }
}

.list-item-wrapper {
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
  height: 96%;
  // background: #dbdbdb;
  background: #E0E9E9;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    background: #E7E7E7;
  }
  .open-list-control-config {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
  }
  &.selected {
    // background: #9dc183;
    background: #2D3956;

    .open-list-control-config-icon {
      background: url(../assets/bars-white.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
    }
  }
}

.list-controls-wrapper {
  position: absolute;
  right: -80px;
  top: 47%;
  transform: translateY(-50%);
  width: 80px;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
  height: 95%;
}

@keyframes reduce-size {
  0% {
    left: 0px;
  }
  100% {
    left: -80px;
  }
}

@keyframes original-size {
  100% {
    left: 0px;
  }
  0% {
    left: -80px;
  }
}

@keyframes show {
  0% {
    right: -80px;
  }
  100% {
    right: 0;
  }
}

@keyframes hide {
  100% {
    right: -80px;
  }
  0% {
    right: 0;
  }
}

.list-control-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 20px;
  height: 20px;
  &.list-control-delete {
    background: url(../assets/cancel.svg);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  &.list-control-restore {
    background: url(../assets/undo.svg);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  &.mark-as-complete {
    background: url(../assets/tick.svg);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  &:hover {
    &.mark-as-complete {
      // background: url(../assets/check-circle.svg);
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
}

.list-control-icon {
  width: 20px;
  height: 20px;
  display: block;
}

.open-list-control-config-icon {
  background: url(../assets/bars.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}