.list-edit-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background:transparent;
  margin: 2px 0 0;
  width: 30%;
  .lctrl-btn {
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    outline: none;
    .lctrl-btn-icon {
      width: 100%;
      height: 100%;
      display: block;
    }
    .lctrl-btn-icon-selectall {
      background: url(../../assets/double-tick-indicator.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
    }
    .lctrl-btn-icon-deselectall {
      background: url(../../assets/clear.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
    }
  }
}