.text-input-wrapper {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5px;
    width: 90%;

    .text-input {
        border: 1px solid rgba(103, 146, 103, 0.25);
        background: rgba(103, 146, 103, 0.1);
        outline: none;
        width: 70%;
        height: 25px;
        border-radius: 2px;
        padding-left: 8px;
        font-size: 1em;
        font-family: 'Open sans';
        margin-top: 8px;
        &:focus {
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
        }
    }

    .text-input-label {
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}