.textarea-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px; }
  .textarea-wrapper .textarea-label {
    font-size: 1em;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; }
  .textarea-wrapper .textarea {
    height: 60px;
    width: 85%;
    resize: none;
    border: 1px solid rgba(103, 146, 103, 0.25);
    outline: none;
    border-radius: 2px;
    padding-left: 8px;
    padding-top: 8px;
    font-size: 0.8em;
    font-family: 'Open sans';
    margin-top: 8px; }
    .textarea-wrapper .textarea:focus {
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1); }
    .textarea-wrapper .textarea textarea {
      font-size: 1em; }
  .textarea-wrapper .textarea-label-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%; }
    .textarea-wrapper .textarea-label-wrapper .textarea-required-ico {
      display: block;
      width: 5px;
      height: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px; }
      .textarea-wrapper .textarea-label-wrapper .textarea-required-ico::after {
        content: '*';
        font-size: 1em;
        color: red; }
