.with-validation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 5px 0; }
  .with-validation.error input[type="text"], .with-validation.error textarea {
    background: rgba(204, 0, 0, 0.1);
    border-color: rgba(204, 0, 0, 0.4); }
  .with-validation .error-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    position: relative;
    padding-left: 20px;
    font-style: normal;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.7);
    user-select: none; }
    .with-validation .error-info:after {
      content: '';
      width: 25px;
      height: 25px;
      display: block;
      position: absolute;
      top: 0px;
      left: 0;
      background: url(./assets/exclamation-circle.svg);
      background-position: 10% 25%;
      background-size: 60%;
      background-repeat: no-repeat; }

.err-message-enter {
  opacity: 0.01; }

.err-message-enter.err-message-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.err-message-leave {
  opacity: 1; }

.err-message-leave.err-message-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }
