.indicator-wrapper {
  padding: 4px;
  margin: 5px;

  .indicator {
    display: block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px 10px rgba(0,0,0,0.5);

    &.on {
      background: green;
    }
    &.off {
      background: #fff;
    }
  }
}