.toggle-switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px; }
  .toggle-switch-container.on .toggle-switch-input-wrapper::after {
    left: 53%;
    animation-name: move-to-right;
    background: #679267;
    background-image: url(./assets/check.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 60%; }
  .toggle-switch-container.off .toggle-switch-input-wrapper::after {
    left: -1px;
    animation-name: move-to-left;
    background: #ddd; }
  .toggle-switch-container .toggle-switch-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    cursor: pointer;
    text-transform: capitalize; }
    .toggle-switch-container .toggle-switch-label .label-text {
      font-size: 0.8em;
      font-weight: normal;
      user-select: none;
      white-space: nowrap; }
    .toggle-switch-container .toggle-switch-label .toggle-switch-input-wrapper {
      width: 40px;
      position: relative;
      margin-left: 20px; }
      .toggle-switch-container .toggle-switch-label .toggle-switch-input-wrapper .toggle-switch-input {
        width: 100%;
        height: 100%;
        visibility: hidden;
        pointer-events: none;
        margin: 0; }
      .toggle-switch-container .toggle-switch-label .toggle-switch-input-wrapper::after {
        content: '';
        visibility: visible;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        animation-duration: 0.25s;
        animation-timing-function: ease-in;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
      .toggle-switch-container .toggle-switch-label .toggle-switch-input-wrapper::before {
        content: '';
        visibility: visible;
        display: block;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(103, 146, 103, 0.5);
        border-radius: 10px;
        position: absolute;
        height: 50%; }

@keyframes move-to-right {
  0% {
    left: -1px;
    background: #ddd; }
  100% {
    left: 53%;
    background: #679267; } }

@keyframes move-to-left {
  0% {
    left: 53%;
    background: #679267; }
  100% {
    left: -1px;
    background: #ddd; } }
