.toggle-switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0;
  margin: 5px 0 20px;
  &.on {
    .toggle-switch-input-wrapper {
      &::after {
        background: #679267;
        // background-image: url(./assets/check.svg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 60%;
      }
    }
  }
  &.off {
    .toggle-switch-input-wrapper {
      &::after {
        background: #ddd;
      }
    }
  }
  &.animation-enabled {
    &.on {
      .toggle-switch-input-wrapper {
        &::after {
          left: 55%;
          animation-name: move-to-right;
        }
      }
    }
    &.off {
      .toggle-switch-input-wrapper {
        &::after {
          left: -1px;
          animation-name: move-to-left;
        }
      }
    }
  }
  .toggle-switch-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-size: 1em;

    .label-text {
      font-weight: normal;
      // flex: 1;
      user-select: none;
      white-space: nowrap;
    }

    .toggle-switch-input-wrapper {
      // flex: 1;
      width: 40px;
      position: relative;
      margin-left: 20px;

      .toggle-switch-input {
        width: 100%;
        height: 100%;
        visibility: hidden;
        pointer-events: none;
        // border-radius: 2px;
        margin: 0;
      }

      &::after {
        content: '';
        visibility: visible;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        animation-duration: 0.25s;
        animation-timing-function: ease-in;
        box-shadow: 0 0 1px rgba(0,0,0,0.5);
      }

      &::before {
        content: '';
        visibility: visible;
        display: block;
        width: 100%;
        left: -1;
        top: 50%;
        transform: translateY(-50%);
        // border: 1px solid rgba(103, 146, 103, 0.5);
        background: rgba(103, 146, 103, 0.5);
        border-radius: 10px;
        position: absolute;
        height: 40%;
      }
    }
  }
}

@keyframes move-to-right {
  0% {
    left: -1px;
    background: #ddd;
  }
  100% {
    left: 55%;
    background: #679267;
  }
}

@keyframes move-to-left {
  0% {
    left: 55%;
    background: #679267;
  }
  100% {
    left: -1px;
    background: #ddd;
  }
}