.toggle-switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0;
  margin: 5px 25px 5px 0px; }
  .toggle-switch-container.on .toggle-switch-input-wrapper::after {
    background: #679267;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 60%; }
  .toggle-switch-container.off .toggle-switch-input-wrapper::after {
    background: #ccc; }
  .toggle-switch-container.animation-enabled.on .toggle-switch-input-wrapper::after {
    left: 50%;
    animation-name: move-to-right;
    box-shadow: none; }
  .toggle-switch-container.animation-enabled.off .toggle-switch-input-wrapper::after {
    left: 4px;
    animation-name: move-to-left; }
  .toggle-switch-container.animation-enabled.on .toggle-switch-input-wrapper::before {
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.2); }
  .toggle-switch-container .toggle-switch-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-size: 1em; }
    .toggle-switch-container .toggle-switch-label .label-text {
      font-weight: normal;
      user-select: none;
      white-space: nowrap; }
    .toggle-switch-container .toggle-switch-label .toggle-switch-input-wrapper {
      width: 40px;
      position: relative;
      margin-left: 10px; }
      .toggle-switch-container .toggle-switch-label .toggle-switch-input-wrapper .toggle-switch-input {
        width: 100%;
        height: 100%;
        visibility: hidden;
        pointer-events: none;
        margin: 0; }
      .toggle-switch-container .toggle-switch-label .toggle-switch-input-wrapper::after {
        content: '';
        visibility: visible;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 17px;
        height: 17px;
        border-radius: 50%;
        animation-duration: 0.25s;
        animation-timing-function: ease-in;
        left: 4px; }
      .toggle-switch-container .toggle-switch-label .toggle-switch-input-wrapper::before {
        content: '';
        visibility: visible;
        display: block;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        position: absolute;
        height: 100%; }

@keyframes move-to-right {
  0% {
    left: 4px;
    background: #ddd; }
  100% {
    left: 50%;
    background: #679267;
    box-shadow: none; } }

@keyframes move-to-left {
  0% {
    left: 50%;
    background: #679267; }
  100% {
    left: 4px;
    background: #ddd; } }
