.toggle-switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0;
  margin: 5px 25px 5px 0px;
  
  .toggle-switch-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-size: 1em;

    .label-text {
      font-weight: normal;
      user-select: none;
      white-space: nowrap;
    }

    .toggle-switch-input-wrapper {
      width: 40px;
      position: relative;
      margin-left: 10px;

      .toggle-switch-input {
        width: 100%;
        height: 100%;
        visibility: hidden;
        pointer-events: none;
        margin: 0;
      }

      &::after {
        content: '';
        visibility: visible;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 17px;
        height: 17px;
        border-radius: 50%;
        animation-duration: 0.25s;
        animation-timing-function: ease-in;
        // left: 4px;
        // box-shadow: 0 0 4px 1px rgba(0,0,0,0.5);
        background: rgba(45, 57, 86, 0.45);
      }

      &::before {
        content: '';
        visibility: visible;
        display: block;
        width: 100%;
        // left: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #cfcfcf;
        background: #E7E7E7;
        border-radius: 12px;
        position: absolute;
        height: 100%;
      }
    }
  }

  &.on {
    .toggle-switch-input-wrapper {
      &::after {
        background: #2D3956;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 60%;
        left: 50%;
      }
    }
  }
  &.off {
    .toggle-switch-input-wrapper {
      &::after {
        background: rgba(45, 57, 86, 0.45);
        left: 4px;
      }
    }
  }
}

@keyframes move-to-right {
  0% {
    left: 4px;
    background: #ddd;
  }
  100% {
    left: 50%;
    background: #2D3956;
    box-shadow: none;
  }
}

@keyframes move-to-left {
  0% {
    left: 50%;
    background: #2D3956;
  }
  100% {
    left: 4px;
    background: #ddd;
  }
}