.form-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    transform: translateY(-40%);
    background: rgba(255,255,255,0.5);
    padding: 5px 0px 20px 0px;
    border-radius: 4px;
    font-family: 'Open Sans';

    .form-header {
        width: 85%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .form-header-icon {
            width: 18px;
            height: 18px;
            display: inline-block;
            background: url(./assets/bolt.svg);
            background-size: contain;
            background-position: 50%;
            background-repeat: no-repeat;
        }
        
        h4{
            margin: 15px;
            width: 100%;
            text-align: left;
            color: #679267;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 1em;
            padding: 6px 8px;
            border-radius: 2px;
            margin-left: 0;
        }
    }
}

.form-controls {
   padding: 5px 0px;
}

.form-wrapper {
    background: rgba(255,255,255,0.5);
    width: 80%;
    padding: 20px 25px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}

.transition-area-enter {
    opacity: 0.01;
}

.transition-area-enter.transition-area-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.transition-area-leave {
    opacity: 1;
}

.transition-area-leave.transition-area-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}