.form-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.5);
    padding: 5px 0px 20px 0px;
    border-radius: 4px;
    font-family: 'Open Sans';
    h4{
        margin: 15px;
        width: 88%;
        text-align: left;
        color: #fff;
        background: #679267;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1em;
        padding: 6px 8px;
        border-radius: 2px;
    }
}

.form-wrapper {
    background: rgba(255,255,255,0.5);
    // background: #A9BA9D;
    width: 80%;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}