.fox-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .fox-wrapper .fox {
    align-items: center;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 2px 4px;
    padding: 5px;
    width: 100%;
    user-select: none;
    background: #b7b7b7; }
    .fox-wrapper .fox.selected {
      background: #679267;
      color: #fff; }
      .fox-wrapper .fox.selected .fox-icon {
        background: url(../assets/check-circle.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        visibility: visible; }
    .fox-wrapper .fox:hover {
      background: rgba(103, 146, 103, 0.75); }
    .fox-wrapper .fox > span {
      font-size: 0.8em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      text-transform: capitalize; }
    .fox-wrapper .fox .fox-icon {
      display: block;
      width: 20px;
      height: 20px;
      margin: 2px;
      background: url(../assets/circle.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      display: flex;
      flex-direction: row;
      align-items: center; }

.fox-html-input {
  display: none; }
