.dfox-container {
  align-items: flex-start;
  border: 1px solid rgba(103, 146, 103, 0.4);
  background: rgba(103, 146, 103, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 300px;
  max-width: 350px;
  min-height: 10px;
  min-width: 100px;
  padding: 8px 5px; }
