.smartags-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 2px; // padding: 6px 4px;
  outline: none;
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  &:hover {
    cursor: text
  }
  .smartags-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 8px;
    border: 1px solid #ddd;
    padding: 8px 6px;
    .smartags-input {
      border: none;
      width: 30%;
      outline: none;
      flex-wrap: nowrap;
      margin-left: 3px;
      background: transparent;
      height: 20px;
      display: block;
      &.disabled {
        display: none;
      }
    }
  }
}