.product-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 10%;
    height: 100vh;
    padding-top: 20px;
    // background: #9dc183;
    background: rgba(179,190,173,1);
    .product-title {
        font-size: 1.2em;
        color: #000;
        margin-top: 20px;
        margin-left: 20px;
        text-transform: uppercase;
        align-self: flex-start;
    }
    .product-logo-wrapper {
        // margin-left: auto;
        // margin-right: 20px;
        a {
            display: flex;
            align-items: center;
            justify-content: CENTER;
        }
    }
}