.product-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 10%;
  height: 100vh;
  padding-top: 20px;
  background: #b3bead; }
  .product-header .product-title {
    font-size: 1.2em;
    color: #000;
    margin-top: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    align-self: flex-start; }
  .product-header .product-logo-wrapper a {
    display: flex;
    align-items: center;
    justify-content: CENTER; }
