.listfox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 2px;
  outline: none;
  width: 100%;
  height: 100%; }
  .listfox-wrapper:hover {
    cursor: text; }
  .listfox-wrapper .listfox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .listfox-wrapper .listfox-container .foxes-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap; }
    .listfox-wrapper .listfox-container .listfox-input {
      border: none;
      width: 30%;
      outline: none;
      flex-wrap: nowrap;
      margin-left: 3px;
      background: transparent;
      height: 20px; }
