.my-frogs-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .tasks-list-wrapper {
    margin-right:10px;
    flex-basis: 50%;
    height: 400px;
    overflow: hidden;
    border: 1px solid #679267;
    border-radius: 4px;
  }

  .task-detail-wrapper {
    flex-basis: 50%;
  }
}