.my-frogs-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .tasks-list-wrapper {
    margin-right:10px;
    flex-basis: 40%;
  }

  .task-detail-wrapper {
    flex-basis: 50%;
  }
}