.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: rgba(255,255,255,0.5);
    // background: #fff;
    background: #E0E9E9;
    padding: 15px;
    border-radius: 4px;
    font-family: 'Open Sans';
    box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.2);

    .form-header {
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        h4{
            margin: 10px 4px;
            width: 100%;
            text-align: left;
            color: #679267;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 1em;
            padding: 6px 1px;
            border-radius: 2px;
            margin-left: 0;
        }
    }

    &.readonly {
        .form-wrapper {
            box-shadow: none;
        }
    }
}

.form-controls {
   padding: 5px 0px;
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
}

.form-wrapper {
    // background: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 4px;
    // box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}

.listfox-title {
    text-align: left;
    margin-bottom: 8px;
    margin-top: 15px;
    font-size: 0.8em;
}

.transition-area-enter {
    opacity: 0.01;
}

.transition-area-enter.transition-area-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.transition-area-leave {
    opacity: 1;
}

.transition-area-leave.transition-area-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}