.textarea-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 400px;
    max-width: 450px;

    .textarea-label {
        font-size: 1em;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .textarea {
        min-height: 150px;
        min-width: 90%;
        resize: none;
        // border: 1px solid rgba(157, 193, 131, 1);
        border: 1px solid rgba(103, 146, 103, 0.5);
        outline: none;
        border-radius: 2px;
        padding-left: 8px;
        padding-top: 8px;
        font-size: 0.75em;
        font-family: 'Open sans';
        margin-top: 10px;
        &:focus {
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
        }
    }
}