.my-frogs-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .tasks-list-wrapper {
    margin-right:10px;
    flex-basis: 50%;
    height: 400px;
    overflow: hidden;
    border: 1px solid #679267;
    border-radius: 4px;
  }

  .task-detail-wrapper {
    flex-basis: 50%;
  }
}

.mytasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
  z-index: 1;
  .columns {
    height: 100%;
    width: 100%;
  }
  position: relative;
  background: #616A7F;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
  border-radius: 4px;

  .tasks-header {
    border:1p xoslid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: auto;
  }
}

.mytasks-form-wrapper {
  padding: 10px;
}

.mytasks-filter-wrapper {
  height: 100%;
  width: 100%;
  left:0;
  top:0;
  border-radius: 6px;
}

.list-wrapper {
  height: 100%;
}

.form-wrapper {
  height: 100%;
}

.mytasks-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 100;
  top: 0;
}

.add-form-wrapper, .notification-center-container {
  position: absolute;
  width: 45%;
  top:0;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 10px solid rgba(69, 83, 114, 0.8);
  border-radius: 5px;
}

.notification-center-container {
  height: 70%;
  width: 70%;
  z-index: 999;
  background: rgba(255,255,255,0.8);
}

.create-mode, .notification-center-open {
  animation-name: scale-down;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  transform: scale(0.7);
  filter: grayscale(90%);
  opacity:0.1;
  // margin-top: 20px;
  pointer-events: none;
}

.default-mode {
  animation-name: scale-up;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  transform: scale(1);
  filter: grayscale(0%);
  opacity:1;
  margin-top: 10px;
}

.main-container {
  background: rgba(45, 57, 86,0.3);
  padding: 20px;
  border-radius: 3px;
  margin-top: 20px;
  box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.1);
  z-index: -5;
}


@keyframes scale-down {
  0% {
    transform: scale(1);
    filter: grayscale(0%);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    filter: grayscale(90%);
    opacity: 0.1;
  }
}
@keyframes scale-up {
  0% {
    transform: scale(0.7);
    filter: grayscale(90%);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    filter: grayscale(0%);
    opacity: 1;
  }
}

.mytasks-transition-enter {
  opacity: 0.01;
  transform-origin: bottom;
}

.mytasks-transition-enter.mytasks-transition-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in, transform 400ms ease-in;
}

.mytasks-transition-leave {
  opacity: 1;
}

.mytasks-transition-leave.mytasks-transition-leave-active {
  opacity: 0.01;
  transition: opacity transform 300ms ease-in, transform 300ms ease-in;
}
