.toolbar-wrapper {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .toolbar-wrapper .toolbar {
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-start; }
    .toolbar-wrapper .toolbar .toolbar-item {
      height: 40px;
      border-radius: 2px;
      font-size: 0.9em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .toolbar-wrapper .toolbar .toolbar-item.back-btn-wrapper {
        margin-right: auto; }
      .toolbar-wrapper .toolbar .toolbar-item.app-title-wrapper {
        margin-left: auto;
        background: transparent;
        margin: 0 4px; }
        .toolbar-wrapper .toolbar .toolbar-item.app-title-wrapper h3.app-title {
          text-transform: uppercase;
          padding: 5px;
          font-size: 1.5em;
          color: #E7E7E7; }
      .toolbar-wrapper .toolbar .toolbar-item button.toolbar-button {
        border: none;
        height: 100%;
        width: 100%;
        border-radius: 2px;
        outline: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0px 0px 10px 1px rgba(189, 189, 189, 0.5);
        font-family: 'Open Sans';
        font-weight: 700;
        color: #2D3956;
        background: #E0E9E9; }
        .toolbar-wrapper .toolbar .toolbar-item button.toolbar-button i {
          display: block;
          width: 30px;
          height: 30px; }
        .toolbar-wrapper .toolbar .toolbar-item button.toolbar-button span {
          padding-right: 4px;
          font-size: 1em;
          text-transform: uppercase; }
        .toolbar-wrapper .toolbar .toolbar-item button.toolbar-button.add-task-btn i {
          background: url(../assets/plus.svg);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: 50%; }
        .toolbar-wrapper .toolbar .toolbar-item button.toolbar-button.apply-filters-btn i {
          background: url(../assets/filter.svg);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: 50%; }
        .toolbar-wrapper .toolbar .toolbar-item button.toolbar-button.back-btn i {
          background: url(../assets/chevron-left.svg);
          background-repeat: no-repeat;
          background-size: 40%;
          background-position: 50%; }
        .toolbar-wrapper .toolbar .toolbar-item button.toolbar-button.invoke-reminder-btn i {
          background: url(../assets/bell.svg);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: 50%; }
    .toolbar-wrapper .toolbar .searchbox-container {
      width: 100%; }
      .toolbar-wrapper .toolbar .searchbox-container .search {
        margin: 0;
        padding: 5px 10px;
        height: 100%;
        width: 100%;
        border: none;
        outline: none; }
    .toolbar-wrapper .toolbar .apply-filters-container {
      position: relative;
      margin: 0 4px; }
    .toolbar-wrapper .toolbar .add-task-container {
      margin: 0 4px; }
      .toolbar-wrapper .toolbar .add-task-container.no-tasks {
        margin-right: auto; }
    .toolbar-wrapper .toolbar .smartreminder-btn-container {
      margin: 0 4px;
      width: 40px;
      height: 40px; }
  .toolbar-wrapper .filters-wrapper {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 130%;
    z-index: 1000;
    width: 150px;
    border-radius: 6px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    background: #fff; }
  .toolbar-wrapper .toolbar-search-wrapper {
    width: 40%;
    margin-left: 20px;
    margin-right: auto; }
