.text-input-wrapper {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;

    .text-input {
        // border: 1px solid rgba(157, 193, 131, 1);
        border: 1px solid rgba(103, 146, 103, 0.5);
        outline: none;
        width: 60%;
        height: 25px;
        border-radius: 2px;
        background: #fff;
        padding-left: 8px;
        font-size: 0.75em;
        font-family: 'Open sans';
        margin-top: 10px;
        &:focus {
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
        }
    }

    .text-input-label {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}